{
	"apps": [
		{
			"name": "dom",
			"script": "src/bash/exec_tophotel_normal.sh",
			"append_env_to_name": true,
			"watch": true,
			"env_0": {
				"WORKER_NAME": "dom-0",
				"AWS_UID": "836881754257",
				"ENV": "prod",
				"QUEUE_TASKS_URL": "",
				"QUEUE_IMPORTANT_TASKS_URL": "",
				"QUEUE_DETAIL_TASKS_URL": "",
				"QUEUE_RESULTS_URL": "",
				"PROXY_SERVER": "socks5://localhost:32782",
				"PROXY_MANAGEMENT_API_URL": "http://localhost:32783"
			},
			"env_1": {
				"WORKER_NAME": "dom-1",
				"AWS_UID": "836881754257",
				"ENV": "prod",
				"QUEUE_TASKS_URL": "",
				"QUEUE_IMPORTANT_TASKS_URL": "",
				"QUEUE_DETAIL_TASKS_URL": "",
				"QUEUE_RESULTS_URL": "",
				"PROXY_SERVER": "socks5://localhost:32784",
				"PROXY_MANAGEMENT_API_URL": "http://localhost:32785"
			}
		}
	]
}
